@font-face {
  font-family: "Mezali&Moi";
  src: url("../public/font/adelia_3/adelia.ttf");
}

@font-face {
  font-family: "&";
  src: url("../public/font/cherolina/Cherolina.ttf");
}

#root {
  max-width: 1400px;
  text-align: center;
}

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */

.fr-flag {
  height: 25px;
  margin-right: 10px;
}

.uk-flag {
  height: 25px;
  margin-right: 8px;
}

.cart-logo {
  height: 25px;
}
.layout-banner {
  display: flex;
  justify-content: space-around;
  background-color: white;
  border-bottom: 0.5px solid black;
  width: 100vw;
  height: 10vh;
}

/* .welcome-text {
  color: #d68c6a;
  font-style: italic;
  font-weight: 500;
  padding: 1rem;
  display: flex;
} */

.home-logo {
  width: 40px;
  height: 40px;
  padding: 1rem;
  margin-right: 300px;
}

.links-to-pages {
  width: 30vw;
  color: #d68c6a;
  font-style: italic;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

.flag {
  margin-left: 350px;
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
}

.layout-title {
  display: flex;
  justify-content: center;
}

h1 {
  font-family: "Mezali&Moi";
  color: white;
  margin-top: 0px;
}

h1 span {
  font-size: 14rem;
  color: black;
  font-family: "&";
}

h2 {
  color: white;
  font-size: 2rem;
  font-style: italic;
}

.container {
  display: grid;
}

.container1 {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-evenly;
}

.container2 {
  margin-top: 35px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-evenly;
}

.container3 {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  font-size: 2rem;
}

.button-face {
  border: 2px solid white;
  border-radius: 15px;
  width: 420px;
  font-style: italic;
}

.button-face:hover {
  box-shadow: 0 0 50px white;
}

.button-eyes {
  border: 2px solid white;
  border-radius: 15px;
  width: 420px;
  font-style: italic;
}
.button-eyes:hover {
  box-shadow: 0 0 50px white;
}

.button-lips {
  border: 2px solid white;
  border-radius: 15px;
  width: 420px;
  font-style: italic;
}
.button-lips:hover {
  box-shadow: 0 0 50px white;
}

.button-nails {
  border: 2px solid white;
  border-radius: 15px;
  width: 420px;
  font-style: italic;
}
.button-nails:hover {
  box-shadow: 0 0 50px white;
}

.button-all-products h2 {
  color: white;
  font-weight: 300;
  font-style: italic;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.container-all-products {
  margin: auto;
  height: 400px;
  width: 200px;

  box-sizing: border-box;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 20px;
  height: 100%;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: white;
}

.products-list img {
  width: 50%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
}

.products-list h2 {
  font-size: 1.2rem;
  margin: 0;
  color: #d68c6a;
}

.products-list p {
  font-size: 1rem;
  margin: 5px 0;
}

.products-list p {
  font-size: 1rem;
  margin-top: 5px;
}

.container-all-products:hover {
  color: black;
}

.search-product {
  margin-bottom: 50px;
}

.search-product-title {
  color: white;
}

.search-product input {
  background-color: white;
  color: black;
  width: 250px;
  height: 30px;
  border: 1px solid grey;
  border-radius: 5px;
}

.advanced-search {
  color: white;
}

.advanced-button {
  margin-top: 5px;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.4);
}

.popup {
  background-color: rgba(0, 0, 0, 0.74);
  width: 500px;
  height: 400px;
  margin: auto;
  border-radius: 20px;
}

.close-button {
  margin-left: 460px;
  background: none;
  font-size: 0.8rem;
}

.go-to-cart-button {
  margin: 30px 0px 60px 0px;
  border-color: white;
}

.go-to-cart-button > a {
  color: white;
}

.continue-shopping-button {
  width: 250px;
  border-color: white;
}

.continue-shopping-button:hover {
  color: #d68c6a;
}

.details {
  color: black;
  font-style: italic;
}

.where-to-shop {
  color: black;
  font-style: italic;
}

.where-to-shop:hover {
  color: blue;
}

.cart th {
  border: 1px solid white;
}

.cart td {
  border: 1px solid white;
}

.cart {
  margin: auto;
}

.remove-button {
  width: 30px;
  height: 40px;
}

.adress {
  font-style: normal;
  font-size: 0.8em;
  color: white;
  margin: 0px 0px 30px 0px;
}

.footer-container {
  width: 1000px;
  padding: 40px 50px;
  margin: 100px 180px 20px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
}

.footer-container a {
  color: white;
  font-weight: bolder;
  text-decoration: none;
  text-align: center;
  padding: 0px;
}

.footer-container ul {
  list-style: none;
  padding: 0px;
}

.map-frame {
  height: 320px;
  width: 50%;
}

.product img {
  width: 60px;
}

.shop-link a:hover {
  color: rgb(16, 56, 215);
}

.shop-link {
  font-size: 0.6rem;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.addtocart-button {
  color: white;
  background-color: #8a5c46;
  margin: auto;
  margin-top: 10px;
  width: 200px;
}

.addtocart-button:hover {
  color: white;
}
.addtocart-button-details {
  color: white;
  background-color: #8a5c46;
  width: 200px;
  margin-top: 30px;
}
